if SHIELD_DUOSYNC

config ZMK_KEYBOARD_NAME
    default "Duosync BLE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DUOSYNC_LEFT || SHIELD_DUOSYNC_RIGHT

config ZMK_SPLIT
    default y

endif
